
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>VAST RAIL</title>

<!-- CSS (load bootstrap from a CDN) -->

<link rel="stylesheet" type="text/css" media="screen" href="/style/bootstrap.css">
<link rel="stylesheet" type="text/css" media="screen" href="/style/ace/ace-fonts.css">
<link rel="stylesheet" type="text/css" media="screen" href="/style/ace/ace-part2.css">
<link rel="stylesheet" type="text/css" media="screen" href="/style/ace/ace-rtl.css">
<link rel="stylesheet" type="text/css" media="screen" href="/style/ace/ace.css">
<link rel="stylesheet" type="text/css" media="screen" href="/style/ace/ace.onpage-help.css">
<link rel="stylesheet" type="text/css" media="screen" href="/style/ace/font-awesome.css">
<link rel="stylesheet" type="text/css" media="screen" href="/style/ace/ace-skins.css">


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="/js/ace/ace.js"></script>
<script src="/js/ace/ace-extra.min.js"></script>
<script src="/js/ace/bootstrap.js"></script>
