<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body>

    <header>
        <% include partials/header %>
    </header>

    <div class="row">
        <div class="col-md-6">
            <% include partials/message %>
        </div>
    </div>
    
    <footer>
        <% include partials/footer %>
    </footer>

</body>
</html>